* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(10, 2, 37);
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #a0522d;
}

.nav-left {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 15px;
    margin-top: 5px;
}

.title {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 5px;
    margin-right: 30px;
    font-weight: 50;
}

.navbar ul li a {
    font-size: 18px;
    transition: .5s;
}

.navbar ul li:hover a {
    color: rgb(4, 4, 4);
    background-color: antiquewhite;
    border-radius: 5px;
    padding: .3rem;
}

.home-info {
    display: flex;
    align-items: center;
    height: 45vh;
    justify-content: center;
    color: white;
}

.home-info h1 {
    font-size: 35px;
    height: 50px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .8rem;
    max-width: 1200px;
    box-shadow: #a0522d;
    margin-top: -50px;
    margin-bottom: 50px;
    transition: transform 0.5s ease;
}

.card-container .card:hover {
    transform: rotateX(5deg) rotateY(5deg) scale(1.05);
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.3);
}

.card {
    background-color: #a3f725;
    border-radius: 15px;
    width: 290px;
    overflow: hidden;
    max-width: 150px;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;  
}
    

.card p {
    padding: .08rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}



.footer-container {
    background-color: #a0522d;
    color: blanchedalmond;
    padding: 1rem;
    text-align: center;
    align-items: center;
    
}

.home-img .img-box {
    width: 25vw;
    height: 25vw;
    background: rgb(26, 255, 0);
    border-radius: 50%;
    padding: 3px;
    margin-left: 180px;
    margin-top: -30px;
    float: left;
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: slateblue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    position: absolute;
    top: -20px;
    display: list-item;
    width: 110%;
    object-fit: cover;
    margin-left: 50px;
    margin-right: 50px;
}

.info {
    align-items: center;
    padding: 60px 9% 0;
    color: white;
    display: contents;
    justify-content: center;
}

.info .myinfo ul li {
    text-align: left;
    justify-content: center;
    list-style: none;
    margin-left: 550px;
    margin-right: 180px;
    margin-top: -20px;
    margin-bottom: 40px;
}

.myinfo ul li {
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
    align-items: center;
}

.gallery {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 90px;
}

.gallery p {
    text-align: left;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500px;
    font-size: 15px;
    margin-left: 400px;
    margin-right: 80px;
    margin-top: -260px;
    margin-bottom: 50px;
}

.gallery h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: white;
}

iframe {
    margin-top: 30px;
}

.gallery iframe {
    border-radius: 10px;
}

.gallery iframe:hover {
    transform: rotateX(5deg) rotateY(5deg) scale(1.05);
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.3);
}


